<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../JS/index.js"></script>
    <link rel="stylesheet" href="../CSS/index.css">

    <title>Inicio</title>
</head>
<body>
    <h1 class="text-center" id="titulo">DEUSTO TRAVEL ADVISOR</h1>
    <div class="d-grid gap-2 col-6 mx-auto" id="botones">
        <button onclick="redirigirMisViajes()" class="btn btn-primary" type="button" id="misViajes">MIS VIAJES</button>
        <button onclick="redirigirAñadirOferta()" class="btn btn-primary" type="button" id="añadirViajes">AÑADIR VIAJE</button>
        <button onclick="redirigirReserva()" class="btn btn-primary" type="button" id="viajes">VIAJES</button>
        <button onclick="redirigirEditarViajes()" class="btn btn-primary" type="button" id="editarViajes">EDITAR VIAJES</button>
    </div>
</body>
</html>